<h1>{{ username }} (PSN)</h1>
<p>{{ status }}</p>

<h2>Activities</h2>

<form action="/status/{{ system }}/{{ username }}" method="post">
    <ul class="activities">
        <button>Update activities</button>
    {{#activities}}
        <li class="activity">
            <h2 class="activity__title">{{ name }}</h2>
            <ul class="activity__group">
                {{#items}}
                    {{#collection}}
                        <li class="activity">
                            <h2 class="activity__title">{{ name }}</h2>
                            <ul class="activity__group">
                                {{#items}}
                                    <li class="group__name">{{ name }}: <input type="checkbox" name="{{ id }}" id="{{ id }}"{{#available}} checked{{/available}}></li>
                                {{/items}}
                            </ul>
                        </li>
                    {{/collection}}
                    {{^collection}}
                        <li class="group__name">{{ name }}: <input type="checkbox" name="{{ id }}" id="{{ id }}"{{#available}} checked{{/available}}></li>
                    {{/collection}}
                {{/items}}
            </ul>
        </li>
    {{/activities}}
    </ul>
</form>

