<h1>{{ status.username }} ({{ status.system }})</h1>
<p>{{ status.status }}</p>

<h2>Activities</h2>

<form action="/status/{{ status.system }}/{{ status.username }}" method="post">
    <input type="hidden" name="username" value="{{ status.username }}">
    <input type="hidden" name="system" value="{{ status.system }}">
    <input type="hidden" name="status" value="{{ status.status }}">
    <ul class="activities">
        <button>Update activities</button>
        {{#each activities}}
            <li class="activity">
                <h2 class="activity__title">{{ name }}</h2>
                <ul class="activity__group">
                    {{#items}}
                        {{#collection}}
                            <li class="activity">
                                <h2 class="activity__title">{{ name }}</h2>
                                <ul class="activity__group">
                                    {{#items}}
                                        <li class="group__name">{{ name }}: <input type="checkbox" name="activities" id="{{ id }}" value="{{ id}}" {{#activityCheck ../../../../status.activities id}} checked{{/activityCheck}}></li>
                                    {{/items}}
                                </ul>
                            </li>
                        {{/collection}}
                        {{^collection}}
                            <li class="group__name">{{ name }}: <input type="checkbox" name="activities" value="{{ id }}" id="activity"{{#activityCheck ../../../status.activities id}} checked{{/activityCheck}}></li>
                        {{/collection}}
                    {{/items}}
                </ul>
            </li>
        {{/each}}
    </ul>
</form>

